/* Menu principal */
.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1d1f22;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

.menu li {
    position: relative;
    padding: 15px;
    cursor: pointer;
}

.menu li:hover {
    background-color: #212427;
}

.menu li:hover > ul {
    display: block;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

/* Sous-menu */
.submenu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #1d1f22;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
}

.submenu ul li {
    padding: 10px;
    cursor: pointer;
}

.submenu ul li:hover {
    background-color: #212427;
}

/* Bouton de menu responsive */
.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
.menu {
    flex-direction: column;
    align-items: center;
}

.menu li {
    width: 100%;
    text-align: center;
}

.menu-toggle {
    display: block;
}

.submenu {
    position: static;
}

.submenu ul {
    width: 100%;
}
}
